<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discord Stalker</title>
<!--     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
    <div id="header">
        <a href="/find_friends" class="btn btn-primary">Find Friends</a>
        <a href="/edit_friends" class="btn btn-primary">Edit Friends</a>
        <a href="/guilds" class="btn btn-primary">Guilds</a>
        <a href="/bot_settings" class="btn btn-primary">Bot Settings</a>
    </div>

    <div id="body">
        {{{body}}}
    <div>

    <style>
/*        hr{
            background: #eae3e3;
        }*/
        body{
            background-color: #36393f;      
        }
        * {
            padding: 0px;
            margin: 0px;
        }
        #body
        {
            padding: 5px;
            margin: 5px;
        }
        #header
        {
            padding: 5px;
            margin: 5px 8px;
        }
        .guild_chanel {


		}
		.guilds {
		    font-size: 15px;
		    display: flex;
            flex-wrap: wrap;
		}
		.guild {
			border: 2px solid;
		    padding: 5px;
		    margin: 3px;
            border-radius: 5px;
            border-color: #7d7d7d;
            box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 1.5px 0 rgba(0,0,0,.05), 0 2px 0 rgba(0,0,0,.05);
            width: 300px;
		}
		.chanel_user {
		    display: flex;
            border-radius: 59px;
		}
		.user_title_wraper {
		    position: relative;
		}
		.user_username {
		    display: block;
		}
        .guild_head {
            display: flex;
        }
        .friend_true {
            background: #4848489c;
        }
        img.user_avatar {
            border-radius: 90px;
        }
    </style>

</body>
</html>