<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discord Stalker</title>
</head>
<body>
    <div id="header">
        <a href="/findfriends">Find Friends</a>
        |
        <a href="/editfriends">Edit Friends</a>
    </div>

    <div id="body">
        {{{body}}}
    <div>

    <style>
        * {
            padding: 0px;
            margin: 0px;
        }
        #body
        {
            padding: 5px;
            margin: 5px;
        }
        #header
        {
            padding: 5px;
            margin: 5px 0px;
            border-bottom: 1px solid black;
        }
    </style>

</body>
</html>